<a href="https://colab.research.google.com/github/gorogoro-uk/codewars/blob/master/SQL_codewars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL: Codewars**

In [ ]:
# 7. SQL with Street Fighter: Total Wins
"""
fighters:
id, name, won, lost, move_id

winning_moves:
id, move


return this:
name, won, lost
exclude wins/losses:  hadoken, shouoken, kikoken
order msot to least wins
top 6 only
ignore ties

"""

SELECT 
    name
    ,sum(won)  as won
    ,sum(lost) as lost

FROM
    fighters as f
    inner join winning_moves as wm
      on f.move_id = wm.id

WHERE wm.move in ('Hadoken','Shouoken','Kikoken')

GROUP BY name

ORDER BY sum(won)

#LIMIT = 6   # MySQL syntax